{% extends 'BypassDM_V1/base.html' %}


<div id="paypal-button-container-P-7NJ758330S702630NMRK2MWY"></div>
<script src="https://www.paypal.com/sdk/js?client-id=AcOhvev8eGVpfZht0NjPnFzbq7g9cFi0cx5dXcjDu-vWjYCYr97U1ACVj1qYCVINkLBv3Bh1HWXcKa4K&vault=true&intent=subscription" data-sdk-integration-source="button-factory"></script>
<script>
  paypal.Buttons({
      style: {
          shape: 'pill',
          color: 'black',
          layout: 'vertical',
          label: 'subscribe'
      },
      createSubscription: function(data, actions) {
        return actions.subscription.create({
          /* Creates the subscription */
          plan_id: 'P-7NJ758330S702630NMRK2MWY'
        });
      },
      onApprove: function(data, actions) {
        alert(data.subscriptionID); // You can add optional success message for the subscriber here
      }
  }).render('#paypal-button-container-P-7NJ758330S702630NMRK2MWY'); // Renders the PayPal button
</script>
