{% extends 'BypassDM_V1/base.html' %}


{% block title %}BypassDM - Write your message!{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
          integrity="sha512-+r1jSDf9XyEQAdR30RiMn0fEjBx3rtqAS0Zw1tJjPu38lGsPSeIy/Bdu+xCvJRR5ue5o5sfFnVZz+drfgv/QGg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
{% endblock %}

{% block content %}
    <div class="row justify-content-center">

        <div class="col-md-6">
            <div class="card my-5">
                <div class="card-header bg-dark">
                    <h3 class="text-white text-center mb-0">Your email message here</h3>
                </div>
                <div class="card-body bg-secondary">
                    <form action="{% url 'BypassDM_V1:create_message' %}" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary mt-3"><i class="fas fa-paper-plane"></i> Tweet & Send
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/js/all.min.js"
            integrity="sha512-4AP4AmzR6aEfZJWmTW8vxo7E2EGGWGNh9nKU6gMzJpDwG1xyC6TgQLs2/CJ6uyye0sTkxtaVyXJ0YZYWhPRfhQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}



